@font-face {
  src: url(font/TheChairman-Regular.otf);
  font-family: TheChairman;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: Roboto, verdana, arial, helvetica, sans-serif;
  border-style: dashed;
  border-width: 4px;
  border-radius: 10px;
  text-shadow: 4px 4px 3px hsl(0, 100%, 61%), -4px -4px 3px hsl(180, 100%, 61%);
}
p {
  font-family: 'Open Sans', 'lucida console', 'courier new';
  font-size: 12px;
  color: cyan;
}

#p2_id {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  color: yellow;
  margin: auto;
  padding: 10px;
  border-top: dotted;
  border-bottom: dotted;
  width: 500px;
  height: 120px;
  box-shadow: 10px 10px 10px hsl(0, 100%, 61%),
    -10px -10px 10px hsl(180, 100%, 61%);
}

.p3_class {
  color: magenta;
  border-style: solid;
  margin: 10px;
  text-align: center;
}

.p4_class {
  color: yellow;
  width: 20%;
  height: 120px;
  border-style: solid;
  margin-right: auto;
  margin-left: 10px;
  overflow-y: auto;
}

.signature {
  font-family: TheChairman;
  font-size: 1.2em;
}

.img_kitten {
  float: left;
  margin: 20px;
}

.kitten_box {
  width: 100vw;
  border: 3px solid;
  color: white;
  margin: 10px;
  display: flow-root;
}

.div_display {
  background-color: tomato;
  display: none;
}

.span_display {
  background-color: lightgreen;
  visibility: hidden;
}

.box_relative {
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  position: relative;
  top: 15px;
  left: 150px;
  z-index: -1;
}
.box_absolute {
  background-color: yellow;
  position: absolute;
  top: 12px;
}

.box_sticky {
  background-color: pink;
  width: 100px;
  height: 100px;
  position: sticky;
  bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.box_fixed {
  background-color: salmon;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
}

.div_background_image {
  display: flex;
  background-color: grey;
  background-image: url(image/kitten.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  align-items: center;
  justify-content: center;
}

#container {
  border: 2px solid white;
}

/* descendant */
#container p {
  background-color: darkgreen;
}

/* child */
#container > p {
  background-color: darkred;
}

/* general sibling */
#container ~ p {
  background-color: darkgoldenrod;
}

/* adjacent sibling */
#container + p {
  background-color: darkmagenta;
}

a:link {
  color: aquamarine;
}

a:hover:not(visited) {
  color: lightsalmon;
}

a:visited {
  color: lightgray;
}

a:hover:visited {
  color: blue;
}

.pseudo_class li:nth-child(even) {
  background-color: yellow;
}

.pseudo_class li:nth-child(3) {
  background-color: blue;
}

.pseudo_class li:nth-child(3n + 1) {
  background-color: red;
}

.pseudo_class li:not(hover) {
  background-color: palegreen;
}

.pseudo_class li:hover {
  background-color: aliceblue;
}

.pseudo_element p::first-letter {
  font-size: 3em;
  font-style: italic;
}

.pseudo_element p::selection {
  color: black;
  background-color: white;
}

.pseudo_element ul li {
  color: white;
}
.pseudo_element ul li::marker {
  content: '>';
}

.container {
  margin-top: 2em;
  border: 5px solid white;
  color: white;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 200px;
  overflow: auto;
}

.box {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 3em;
  color: black;
  border-radius: 15px;
}

.put_first {
  order: 1;
}

#box1 {
  background-color: cyan;
}
#box2 {
  background-color: yellow;
}
#box3 {
  background-color: magenta;
}
#box4 {
  background-color: white;
  z-index: 1;
}

.grid {
  display: grid;
  min-height: 600px;
  grid-template-columns: 100px 100px minmax(100px, 2fr) 1fr;
  grid-template-rows: repeat(4, 100px);
  grid-auto-flow: column;
  grid-auto-columns: 100px;
  gap: 1em 2em;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.reassigned_1 {
  grid-row: span 2;
  grid-column: span 2;
}

.reassigned_2 {
  /* start / end */
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.reassigned_3 {
  /* row_start / col_start / row_end / col_end */
  grid-area: 3 / 1 / -1 / 3;
}

.grid_page {
  display: grid;
  grid-template-rows: 100px 300px 100px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}

.grid_page #box1 {
  grid-area: header;
  align-self: end;
}

.grid_page #box2 {
  grid-area: main;
}

.grid_page #box3 {
  grid-area: aside;
}

.grid_page #box4 {
  grid-area: footer;
}

.grid_responsive {
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.transform {
  display: grid;
}

.transform div {
  width: 50px;
  height: 50px;
  border: 5px solid grey;
  text-align: center;
  font-size: 2em;

  transform: scale(0.5);
}

.transform #box1 {
  transform: translate(100%, 20px) skewX(30deg) rotateZ(45deg);
}

.animation #box1 {
  animation-name: rotateTwoSides;
  animation-duration: 8s;
  animation-direction: reverse;
  animation-play-state: running;
  animation-timing-function: steps(5);
}

.animation #box2 {
  animation-name: fadeOut;
  animation-duration: 8s;
}

.animation #box3:hover {
  animation-name: colorChange;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

.animation #box4:hover {
  animation-name: glow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes slideLeft {
  from {
    transform: translateX(200%);
  }
}

@keyframes slideRight {
  to {
    transform: translateX(200%);
  }
}

@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}

@keyframes rotateTwoSides {
  75% {
    transform: rotateZ(-225deg);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes colorChange {
  0% {
    background-color: orange;
  }
  30% {
    background-color: green;
  }
  60% {
    background-color: indigo;
  }
  100% {
    background-color: white;
  }
}

@keyframes glow {
  50% {
    box-shadow: 0px 0px 50px yellow;
  }
}
